label.check-label {
    display: inline-block;
    color: #1fff00;
    cursor: pointer;
    position: relative;

    span.check-span {
        display: inline-block;
        position: relative;
        background-color: transparent;
        width: 25px;
        height: 25px;
        transform-origin: center;
        border: 2px solid #1fff00;
        border-radius: 50%;
        vertical-align: -6px;
        margin-right: 10px;
        transition: background-color 150ms 200ms, transform 350ms cubic-bezier(.78, -1.22, .17, 1.89);

        &:before {
            content: "";
            width: 0;
            height: 2px;
            border-radius: 2px;
            background: #000000;
            position: absolute;
            transform: rotate(45deg);
            top: 13px;
            left: 9px;
            transition: width 50ms ease 50ms;
            transform-origin: 0 0;
        }

        &:after {
            content: "";
            width: 0;
            height: 2px;
            border-radius: 2px;
            background: #000000;
            position: absolute;
            transform: rotate(305deg);
            top: 16px;
            left: 10px;
            transition: width 50ms ease;
            transform-origin: 0 0;
        }
    }

    &:hover {
        span.check-span {
            &:before {
                width: 5px;
                transition: width 100ms ease;
            }

            &:after {
                width: 10px;
                transition: width 150ms ease 100ms;
            }
        }
    }
}

input.check {
    display: none;

    &:checked {
        + label.check-label {
            span.check-span {
                background-color: #000000;
                border: 2px solid #000000;
                transform: scale(1.25);

                &:after {
                  width: 10px;
                  background: #1fff00;
                  transition: width 150ms ease 100ms;
                }

                &:before {
                  width: 5px;
                  background: #1fff00;
                  transition: width 150ms ease 100ms;
                }
            }

            &:hover {
                span.check-span {
                    background-color: #000000;
                    border: 2px solid #000000;
                    transform: scale(1.25);

                    &:after {
                        width: 10px;
                        background: #1fff00;
                        transition: width 150ms ease 100ms;
                    }

                    &:before {
                        width: 5px;
                        background: #1fff00;
                        transition: width 150ms ease 100ms;
                    }
                }
            }
        }
    }
}